/* src/pages/AdminProfilePage.css */
.admin-profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .admin-profile-page-container h1 {
    margin-bottom: 20px;
    color: #333;
  }